<?jelly escape-by-default='true'?>
<j:jelly xmlns:j="jelly:core" xmlns:f="/lib/form" xmlns:c="/lib/credentials">

  <j:set var="installations" value="${descriptor.getInstallations()}"/>
  <j:if test="${empty(installations)}">
    <!-- no installation is configured, so warn the user now -->
    <f:entry title="${%{{name}} version}">
      <div class="error">Missing {{name}} installation</div>
    </f:entry>
  </j:if>
  <j:if test="${installations.size() gt 1}">
    <!-- choice not necessary if there's no choice -->
    <f:entry title="${%{{name}} version}">
      <select class="setting-input" name="installationName">
        <j:forEach var="inst" items="${installations}">
          <f:option value="${inst.name}" selected="${inst.name==instance.installationName}">${inst.name}</f:option>
        </j:forEach>
      </select>
    </f:entry>
  </j:if>

  {{#parameters}}
    {{#generateWidget}}
      {{id}}
    {{/generateWidget}}
  {{/parameters}}

</j:jelly>