
/* {{id}} */
{{#isSpaceDelimiter}}
args.add("{{flag}}").add(hudson.util.Secret.toString({{id}}), true);
{{/isSpaceDelimiter}}
{{^isSpaceDelimiter}}
args.add("{{flag}}{{delimiter}} + hudson.util.Secret.toString({{id}}), true);
{{/isSpaceDelimiter}}